<div>
	<div class="container">

	<ul data-dojo-attach-point="listNode">
		<li>
			<div>默认值</div>
			<div>选项名称</div>
		</li>
<!-- 		<li> -->
<!-- 			<div> <input type="radio" /> </div> -->
<!-- 			<div><input type="text"/></div> -->
<!-- 		</li> -->
<!-- 		<li> -->
<!-- 			<div> <input type="radio" /> </div> -->
<!-- 			<div><input type="text"/></div> -->
<!-- 		</li> -->
<!-- 		<li> -->
<!-- 			<div> <input type="radio" /> </div> -->
<!-- 			<div><input type="text"/></div> -->
<!-- 		</li> -->
		
	</ul>


</div>

</div>