<div>
	<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="formNode">
		<div style="display: table; table-layout: fixed; width: 200px">
			<div style="display: table-cell;">
				<input data-dojo-type="dijit/form/RadioButton"
					data-dojo-props="name: this.name, value: this.no_value" /> <label>${no_display}</label>
			</div>
			<div style="display: table-cell;">
				<input data-dojo-type="dijit/form/RadioButton"
					data-dojo-props="name: this.name, value: this.yes_value" /> <label>${yes_display}</label>
			</div>

		</div>
	</div>

</div>