.philips .percentageProgressBar.dijitProgressBar {
	background-color: #C5C4C4 !important;
	border: none !important;
	height: 7px !important;
	overflow: initial !important;
}

.philips .percentageProgressBar .dijitProgressBarFull {
	height: 7px !important;
}

.philips .percentageProgressBar .dijitProgressBarTile {
	background-color: #7395fb !important;
	background-image: none !important;
	background-repeat: none !important;
}

.philips .percentageProgressBar .dijitProgressBarLabel {
	display: inline-block !important;
	position: absolute !important;
	right: -45px !important;
	top: -7px !important;
	width: initial !important;
}